.w-img {
    width: 66px;
}

.bg-senja {
    background-color: #83afcc;
}

.col-md-10 {
    padding-right: 0;
}

a {
    text-decoration: none;
    color: white;
}

.bg-darksenja {
    background-color: #455a69!important;
}